.idea
conf
.DS_Store
/node_modules
node_modules
sftp-config.json
/.project
.vscode/ftp-sync.json
**/gulpfile.js
.vscode
.ftppass
colors
/_mac
inspection
keymaps
application/ucenter/controllers/Test.php%